#root {
  background-color: lightgray;
}

.App {
  text-align: center;
  margin: auto;
  width: 80%;
  font-family: 'PT Sans', sans-serif;
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.logo {
  height: 150px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.App-header {
  /* background-color: rgba(34, 34, 34, .8); */
  background-image: url('skyline.jpg');
  height: 150px;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 30px;
}

.App-title {
  font-size: 3em;
  width: 100%;
}

.App-title h1 {
  align-items: baseline;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#navbar {
  /* position: fixed; */
  display: flex;
  align-items: center;
  top: 3px;
  text-align: left;
  padding: 10px;
  height: 25px;
  overflow: hidden;
  background-color: rgb(78, 132, 219);
  /* border-radius: 5px; */

}

#navbar a {
  color: white;
}

a {
  /* color: white; */
  color: black;
  margin-right: 35px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.about-bio {
  display: flex;
  margin-bottom: 10px;
}

.imageName {
  display: flex;
  flex-direction: column;
}

.bio-picture {
  height: 150px;
  border: solid 1px black;
  margin-right: 10px;
  margin-bottom: 2px;
}

.bio-paragraph {
  width: 65%;
  text-align: left;
}

#contact-form {
  text-align: left;
}

.line {
  display: block;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  text-align: center;
  margin-bottom: 8px;
}

.notes-box {
  height: 250px;
  width: 500px;
}

.contact-input {
  text-align: center;
  margin-bottom: 10px;
  width: 200px;
  height: 2em;
  border-radius: 2%;
  border: 2px solid #EAEAEA;
}

textarea {
  border: 2px solid #EAEAEA;
  border-radius: 2px;
}

#buttonHolder {
  text-align: center;
}

#submit-btn {
  width: 200px;
  height: 2em;
  background: rgba(17, 17, 17, 0.8);
  color: white;
  margin-bottom: 20px;
}

#home-header {
  font-size: 60px;
  color: rgb(237, 47, 126);
  margin: 10px;
}

#home-p1 {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 50px;
  vertical-align: 50%;
  margin: 10px;
}

#home-p2 {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  background-image: './map.png';
  color: black;
  font-size: 50px;
  vertical-align: 50%;
  margin: 10px;
}

#home-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.reason-box1 {
  /* background-color: rgb(78, 132, 219); */
  border: solid black 2px;
  width: 50%;
  padding: 1px;
  margin: auto;
  font-size: 25px;
  border-radius: 15px;
}
.reason-box1 p {
  margin: 0px;
}

.reason-box2 p {
  margin: 0px;
}

.reason-box2 {
  /* background-color: rgb(237, 47, 126); */
  border: solid black 2px;
  width: 50%;
  padding: 1px;
  margin: auto;
  font-size: 25px;
  border-radius: 15px;
}

#app-link-box {
  margin-top: 20px;
}

.footer {
  margin-top: 20px;
}

.home-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  margin-bottom: 15px;
}

.home-icons {
  /* height: auto; */
  width: 40%;
  margin: auto;
}
